<div class="container_big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYrjkPeRkL_Q3RThOD5F8Kow8fEKHJMcnwuA&s" alt=""
        height="200px"
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versao do Angular</a></h1>
    </div>
    <div class="big-card__description">
       <p>
        <a>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi quibusdam sed nam quos molestias nisi ipsa
            dolore numquam natus. Molestias ipsam corporis quia inventore fugiat qui et omnis quam maiores!
        </a>
       </p>
    </div>
</div>